body {
	font-family: Roboto;
	background: #CC95C0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1{
	background: rgb(72, 139, 206);
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	margin: 0;
	padding: 10px 20px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

input{
	font-size: 18px;
	background-color: #F7F7F7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: rgb(72, 139, 206);;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid rgb(72, 139, 206);
	outline: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background: #FFF;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #F7F7F7;
}

#container{

	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	width: 360px;
	margin: 100px auto;
	background: #F7F7F7;

}

.completed{
	color: gray;
	text-decoration: line-through;
}

.fa-plus{
	float: right;
}

span{
	background-color: red;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	opacity: 0;
}

li:hover span{
	width: 40px;
	transition: 0.2s linear;
	opacity: 1;
}